<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pagaré</title>
    <style>
        body { font-family: Arial, sans-serif; font-size: 12pt; line-height: 1.6; padding: 40px; }
        h1 { text-align: center; }
        p { margin-bottom: 15px; }
    </style>
</head>
<body>
    <h1>PAGARÉ</h1>
    <p><h2>IMPORTE: ${{'{:20,.2f}'.format(total_pagare)}}</h2></p>
    <p></p>Por medio de este pagaré reconozco(emos) deber y me(nos) obligo(amos) a pagar incondicionalmente a la orden de Arcadia Promotora S. de R.L. de C.V. la cantidad total de <strong>${{'{:20,.2f}'.format(total_pagare)}}</strong> M.N. ({{ total_letras }}).
    en el domicilio de Av. Hidalgo 1443 Piso 9, mediante <strong>{{ plazo_meses }}</strong> pagos mensuales consecutivos sin intereses del dia <strong>{{ fecha_inicio_letras }}</strong> al <strong>{{ fecha_fin_letras }}</strong>
    cada una por la cantidad de ${{'{:20,.2f}'.format(mensualidad)}}</p>

    <p>En caso de mora en el principal, la suma de que se trate causará intereses moratorios del 25 por ciento anual</p>

    <p>La falta de pago oportuno del capital de por los menos dos mensualidades, traerá como consecuencia que sea exigible en su totalidad el saldo insoluto de la cantidad que ampara el presente pagaré, aún cuando las mensualidades que se sucedan a dicha mensualidad, no se encuentren vencidas.</p>

    <p>Este pagare queda relevado de protesto.</p>

    <p>Para todo lo relacionado con este pagaré, incluyendo su interpretación y cumplimiento, me someto expresamente a las leyes y tribunales vigentes y competentes en la ciudad de Guadalajara, Jalisco, renunciando al fuero que por cualquier otra causa pudiera corresponder.</p>

    <p>Suscribo el presente pagaré en la ciudad de Guadalajara, Jalisco, a los {{ fecha_actual_letras }} </p>

    <br><br><br>
    <p><strong>Nombre del Suscriptor:</strong> {{ nombre_suscriptor }}</p>
    <p><strong>Domicilio:</strong> {{ domicilio_suscriptor }}</p>
    <p><strong>Teléfono:</strong> {{ telefono_suscriptor }}</p>

    <p>ACEPTO(AMOS)_______________________________</p>
</body>
</html>